body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(7, 17, 7);
    color: rgb(6, 175, 6);
    
}